*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

:root{
    --bg-color: #ec75ae;
    --text-color:
    --border-color: #f386bb;
    --footer-text-color: #666;
    --text-color: #fff;
}
  /* ------------------ Utilies ------------------ */
.flex-box{
    display: flex;

}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* ------------- Navigation Bar ------------------- */
nav{
    height: 80px;
    margin-inline:8%;
    justify-content: space-between;
    align-items: center; 
    color: var(--text-color);
}
nav h1{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1.5px;
    cursor: pointer;
}
ul li{
    list-style: none;
    margin-right: 40px;
    /* margin-bottom: 10px; */
}
nav ul li a{
    color: var(--text-color);
    font-size: 18px;
    transition: all 1s;
}
nav ul li a:hover{
    border-bottom: 5px solid var(--bg-color);
}

/* -------------- Main  Content -------------------- */
.main-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 900px;
    text-align: center;
    color: var(--text-color);
}
.main-content h1{
    font-size: 60px;
    padding: 20px;
}
.main-content p{
    width: 700px;
    margin: 0 auto;
    line-height: 25px;
    font-weight: 500;
}

.main-content button{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background:transparent;
    border: 2px solid var(--bg-color);
    color: var(--text-color);
    font-size: 18px;
    margin-top: 25px;
    transition: all 1s;
}
.main-content .btn{
    margin-left: 15px;
}

.main-content button:hover{
    background-color: var(--bg-color);
}

/* ------------- Footer Links -------------------- */

.footer{
    margin-inline: 8%;
    margin-top: 30px;
    justify-content: space-around;
}
.footer .footer-link1 h2{
    color: #333;
    font-size: 20px;
    padding-block: 20px;
}

.footer .footer-link1 ul li{
    list-style-type: none;
    margin-block:15px;
}
.footer  a{
    color: #666;
    transition: all 0.15s;
}
.footer a:hover{
    border-bottom: 2px solid var(--bg-color);
    color: var(--bg-color);
}
.footer + h2{
    font-size: 30px;
    text-align: center;
    margin-block: 20px;
    color: #666;
}